<div class="container">
  <app-cockpit
  (serverAddedEvent)='onServerAdded($event)'
  (bpCreated)='onBlueprintAdded($event)'
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change first element</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first Component</button>
      <!-- 
        With : 
        - Defining the binded data struture by "@Input() element" in the "app-server-element" ts component
        - Binding the html by "[element]='serverElement'" in the current html component
        - Defining the content of the serverElements elements in the current ts component 
        Each serverElement of the current component can be hanled by "app-server-element" component     
      -->
      <app-server-element *ngFor="let serverElement of serverElements"
      [srvElement]='serverElement'
      [name]="serverElement.name">
        <!-- 
          Ce contenu est suceptible d'etre pris en compte dans la seule mesure où 
          on a indiqué la directive <ng-content></ng-content> dans le compsant d'oriigne "app-server-element"
          Car sinon n'importe quel contenu inséré entre les balises d'un composant est par défaut ignoré  
        -->
        <p>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      
      </app-server-element>
    </div>
  </div>
</div>
